@inherits LayoutComponentBase
@using Identity_auth.Services
@inject AuthenticationStateProvider provider 
@inject NavigationManager navigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <HeadContent>
        <RadzenTheme Theme="material" />
            
        </HeadContent>
    <main>
        <div class="top-row px-4">
            <AuthorizeView>

                <Authorized>
                    Welcome  <p>@context.User.Identity.Name</p>  
                    <button class="btn btn-primary" @onclick="Logout">Log out</button>
                </Authorized>
                <NotAuthorized>
                   <LoginRedirect/>
                </NotAuthorized>
            </AuthorizeView>
        </div>
        <RadzenComponents />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    private void Logout()
    {
        var authprovider = (CustomAuthStateProvider)provider;

        authprovider.Logout();
        navigationManager.NavigateTo("login");

    }

    private void toLogin()
    {
        navigationManager.NavigateTo("login");

    }
}